* {
    margin: 0;
    padding: 0;

}

body {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    height: 30%;
    flex-basis: 15%;
    background-color: white
}

.deck {

    width: 90%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(122, 98, 122);
    padding: 20px;

}



.card-1 {
    background-color: grey;
}

.card-2 {
    background-color: red;
}

.card-3 {
    background-color: green;
}

.card-4 {
    background-color: yellow;
}

.card-5 {
    background-color: rgb(46, 230, 14);
}

.card-6 {
    background-color: rgb(209, 11, 127);
}

.card-7 {
    background-color: blue;
}

.card-8 {
    background-color: violet;
}

.card-9 {
    background-color: black;
}

.hide {
    background-color: rgb(109, 65, 65);
}

.show {
    background-color: rgb(122, 98, 122);
}